<div class="menu-container">

  <input type="checkbox" id="openmenu" class="hamburger-checkbox" />

  <div class="hamburger-icon">
    <label for="openmenu" id="hamburger-label">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="menu-pane">

    <nav>
      <ul class="menu-links">
        <li><a routerLink="view-cliente">Clientes</a></li>
        <li><a routerLink="add-cliente">Adicionar</a></li>
      </ul>
        <ul class="menu-links">
            <li><a routerLink="view-categoria">Categorias</a></li>
            <li><a routerLink="add-categoria">Adicionar</a></li>
          </ul>

          <ul class="menu-links">
            <li><a routerLink="view-faq">FAQ</a></li>
            <li><a routerLink="add-faq">Adicionar</a></li>
          </ul>

          <ul class="menu-links">
            <li><a routerLink="view-forma-pagamento">Formas de Pagamento</a></li>
            <li><a routerLink="add-forma-pagamento">Adicionar</a></li>
          </ul>

          <ul class="menu-links">
            <li><a routerLink="view-itens">Itens</a></li>
            <li><a routerLink="add-itens">Adicionar</a></li>
          </ul>

          <ul class="menu-links">
            <li><a routerLink="view-marca">Marcas</a></li>
            <li><a routerLink="add-marca">Adicionar</a></li>
          </ul>

          <ul class="menu-links">
            <li><a routerLink="view-produto">Produtos</a></li>
            <li><a routerLink="add-produto">Adicionar</a></li>
          </ul>

    </nav>
  </div>
          <div class="body-text">
            <h1>Loja Unit</h1>
            <h2>Projeto 2020-2021</h2>
            <p>Feito com um tanto de pressa</p>
          </div>
          <router-outlet></router-outlet>  
</div>  
